* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Hind', sans-serif;
	background-color: #F1F1F1;
}

img {
	border: none;
}

h1, h2, h3, h4, h5, h6, ol, ul, p, input[type="text"], button {
	margin: 0;
	padding: 0;
}

ul, ol {
	list-style: none;
}

input[type="text"], input[type="number"], input[type="email"], input[type="password"], textarea {
	font-family: 'Hind', sans-serif;
	font-size: 1em;
	border: none;
	outline: none;
}

textarea {
	resize: none;
}

#app {
	width: 100%;

	header {
		width: 100%;
		margin-bottom: 30px;
		background-color: #242424;

		h1 {
			padding: 10px;
			color: #FFF;
			text-align: center;
		}
	}

	#todo {
		width: 800px;
		margin: 0 auto;

		.field-content {
			margin-bottom: 15px;

			#title, #description {
				width: 100%;
				padding: 10px;
				background-color: #FFF;
				border: solid 1px #CCC;

				&:focus {
					-webkit-transition: all 0.3s;
					transition: all 0.3s;
					box-shadow: 0 0 7px #00A6FF;
				}
			}

			#title {
				margin-bottom: 15px;
			}
		}

		.task-list-content {
			background-color: #FFF;

			ul {
				li {
					padding: 15px;
					overflow: hidden;

					&:not(:last-child) {
						border-bottom: solid 1px #CCC;
					}

					.remove-item {
						width: 20px;
						height: 20px;
						font-style: normal;
						background-color: #000;
						color: #FFF;
						text-align: center;
						border-radius: 30px;
						cursor: pointer;
						line-height: 20px;
						float: right;
					}

					span {
						width: 90%;
					}

					span, i {
						display: inline-block;
						vertical-align: middle;
					}
				}
			}
		}
	}

	.notification {
		width: 300px;
		margin: 0 auto;
		background-color: #FFF;
		border: solid 1px #CCC;
		position: absolute;
		top: 270px;
		left: 0;
		right: 0;
		-webkit-transition: all 0.3s;
		visibility: hidden;
		opacity: 0;

		p {
			padding: 25px;
		}
	}

	.show {
		visibility: visible;
		opacity: 1;
	}

	#register {
		width: 800px;
		margin: 0 auto;

		#register-form {
			.field-container {
				margin-bottom: 10px;

				.input-form {
					width: 100%;
					padding: 15px;
					border: solid 1px #CCC;
				}
			}
		}
	}
}